@model IEnumerable<Application>
@using BusinessTrip.Models

@{
    ViewBag.Title = "Список заявок";
    int i = 0; //счетчик
}
@using System.Security.Claims
@using System.Linq;
@{
    ViewData["Title"] = "Редагувати";
    if (((ClaimsIdentity)User.Identity).Claims
                    .Where(c => c.Type == ClaimTypes.Role)
                    .Select(c => c.Value).Where(r => r == "admin").Count() != 0) { Layout = "~/Views/Shared/_AdminLayout.cshtml"; }
    else { Layout = "~/Views/Shared/_Layout.cshtml"; }
}
<section>
    <h2>Список моїх заявок</h2>
    <p>Всього заявок: @(Model.Count<Application>())</p>
    <a class="btn" asp-action="ChangeStatusUser" asp-controller="Applications">Відхилені заявки</a>
    <table>

        @foreach (var item in Model)
        {
            i++;
            <tr>
                <td><b>@i</b></td>
                <td>
                    @if (item.Status == (int)Application.RequestStatus.Open)
                    {
                        <img src="~/Content/pictures/open (1).png" title="Заявка відкрита" class="tdImage" />
                    }

                    else if (item.Status == (int)Application.RequestStatus.Checking)
                    {
                        <img src="~/Content/pictures/view.png" title="Заявка на перевірці" class="tdImage" />
                    }
                    else if (item.Status == (int)Application.RequestStatus.Rejected)
                    {
                        <img src="~/Content//pictures/rejected.png" title="Заявку відхилено" class="tdImage" />
                    }
                    else if (item.Status == (int)Application.RequestStatus.Closed)
                    {
                        <img src="~/Content/pictures/closed.png" title="Заявку закрито" class="tdImage" />
                    }
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.Lifecycle.Opened)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fullname)
                </td>

                <td>

                    <div>
                        <a class="openDialog" data-dialog-id="infoDialog" data-dialog-title="Деталі заявки"
                           href="Applications/Details/@item.Id">
                            <img src="~/Content/pictures/details.png" class="tdImage" title="Деталі заявки" />
                        </a>
                    </div>
                </td>

                <td>
                    <div>
                        <a class="openDialog" data-dialog-id="lifecycleDialog" data-dialog-title="Життєвий цикл заявки"
                           href="Applications/Lifecycle/@item.LifecycleId">

                            <img src="~/Content/pictures/lifecycle.png" class="tdImage" title="Життєвий цикл заявки" />

                        </a>
                    </div>

                </td>

                <td>
                    <div>
                        <a asp-controller="Applications" asp-action="Edit" asp-route-id="@item.Id" data-dialog-title="Редагувати заявку">

                            <img src="~/Content/pictures/editApp.png" class="tdImage" title="Редагувати заявку" />

                        </a>
                    </div>
                </td>

                <td>
                    @*@Html.ActionLink("Згенерувати заяву", "GenerateApp", new { id = item.Id })*@
                    <a asp-action="GenerateApp" asp-route-id="@item.Id">
                        <img src="~/Content/pictures/generate.png" class="tdImage" title="Згенерувати заяву" />
                    </a>
                </td>


                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">
                        <img src="~/Content/pictures/deleteApp.png" class="tdImage" title="Видалити заявку" />
                    </a>
                </td>
            </tr>

        }

    </table>
</section>
