@model BusinessTrip.Models.User

@{
    ViewBag.Title = "Создание пользователя";
}

<h2>Создание нового пользователя</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

<fieldset>
    <legend>Новий користувач</legend>
    <div class="editor-label">
        
        <label asp-for="Email">Електронна адреса</label>
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)
    </div>

    <div class="editor-label">
        <label asp-for="LastName">Прізвище</label><br />
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.LastName)
        @Html.ValidationMessageFor(model => model.LastName)
    </div>
    <div class="editor-label">
        <label asp-for="FirstName">Ім'я</label><br />
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.FirstName)
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>
    <div class="editor-label">
        <label asp-for="FatherName">По батькові</label>
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.FatherName)
        @Html.ValidationMessageFor(model => model.FatherName)
    </div>



    <div class="editor-label">
        <label asp-for="Password">Введіте пароль</label>
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)
    </div>



    <div class="editor-label">
        @Html.LabelFor(model => model.RoleId)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(model => model.RoleId, ViewBag.Roles as SelectList)
        @Html.ValidationMessageFor(model => model.RoleId)
    </div>

    <p>
        <input type="submit" value="Добавить" />
    </p>
</fieldset>
}