@model IEnumerable<User>
@using BusinessTrip.Models
@{
    ViewBag.Title = "Змінити роль користувача";
    int i = 0;
}

    <h2>Змінити роль користувача</h2>
<p>Всього користувачів: @(Model.Count<User>())</p>
<table>

    @foreach (var item in Model)
    {
        i++;
    <tr>
        <td><b>@i</b></td>


        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>

        @using (Html.BeginForm())
        {
    <td>
        @Html.Hidden("userId", item.Id)

        @if (item.RoleId == 1)
        {
            @Html.DropDownList("roleId", new[] { new SelectListItem() { Text = "admin", Value = "1" }, new SelectListItem() { Text = "user", Value = "2" } })
        }
        @if (item.RoleId == 2)
        {
            @Html.DropDownList("roleId", new[] { new SelectListItem() { Text = "admin", Value = "1" }, new SelectListItem() { Text = "user", Value = "2" } })
        }


    </td>
            <td>
                <input type="submit" value="Зберегти зміни" />
            </td>
        }
    </tr>
    }
</table>