@model BusinessTrip.Models.BusinessTripContext
@using System.Security.Claims
@using System.Linq;
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
    User user = Model.User.FirstOrDefault(u => u.Email == User.Identity.Name);
    if (((ClaimsIdentity)User.Identity).Claims
                    .Where(c => c.Type == ClaimTypes.Role)
                    .Select(c => c.Value).Where(r => r == "admin").Count() != 0) { Layout = "~/Views/Shared/_AdminLayout.cshtml"; }
    else { Layout = "~/Views/Shared/_Layout.cshtml"; }
}

    <section>
        @*@if (user.RoleId==Model.Role.FirstOrDefault(r=>r.RoleName=="admin").Id)
        {
            <a class="edit-btn" asp-action="CreateUser">Створити нового користувача</a><br>
        }*@
        <p style="font-size:250%">@user.LastName @user.FirstName @user.FatherName</p>
        <p style="color:darkslategrey">@user.Email</p>
            <a class="img-btn" asp-action="Edit" asp-route-id="@user.Id">
                <img src="~/Content/pictures/editApp.png" class="tdImage" title="Редагувати" />
            </a>
            <a class="img-btn" asp-action="ChangePassword" asp-route-id="@user.Id">
                <img src="~/Content/pictures/changePassword.png" class="tdImage" title="Змінити пароль" />
            </a>

        
    </section>
