@model IEnumerable<BusinessTrip.Models.User>
@using System.Security.Claims
@using System.Linq;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (((ClaimsIdentity)User.Identity).Claims
                    .Where(c => c.Type == ClaimTypes.Role)
                    .Select(c => c.Value).Where(r => r == "admin").Count() != 0) { Layout = "~/Views/Shared/_AdminLayout.cshtml"; }
    else { Layout = "~/Views/Shared/_Layout.cshtml"; }
}

    <section style="padding-top:5%">
        <a class="btn" asp-action="CreateUser">Створити нового користувача</a>
        <a class="btn" asp-action="EditRole">Редагувати ролі</a><br>
        <br>
        <table class="table">
            <tr>
                <th style="font-size:100%">Email</th>
                <th style="font-size:100%">Прізвище</th>
                <th style="font-size:100%">Ім'я</th>
                <th style="font-size:100%">Побатькові</th>
                <th style="font-size:100%">Пароль</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <hr />
            @foreach (var user in Model)
            {
                <tr>
                    <td style="font-size:95%">@user.Email</td>
                    <td style="font-size:95%">@user.LastName</td>
                    <td style="font-size:95%">@user.FirstName</td>
                    <td style="font-size:95%">@user.FatherName</td>
                    <td style="font-size:95%">@user.Password</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@user.Id">
                            <img src="~/Content/pictures/editApp.png" class="tdImagel" title="Редагувати дані користувача" />
                        </a>
                    </td>
                    <td>
                        <a asp-action="ChangePassword" asp-route-id="@user.Id">
                            <img src="~/Content/pictures/changePassword.png" class="tdImagel" title="Змінити пароль" />
                        </a>
                    <td />
                    <td>
                        <a asp-action="Delete" asp-route-id="@user.Id">
                            <img src="~/Content/pictures/deleteApp.png" class="tdImagel" title="Видалити користувача" />
                        </a>
                    </td>
                </tr>
                <tr><td colspan="8"><hr /></td></tr>

            }
        </table>
        <br />
        <br />
        <br />
    </section>
