@model IEnumerable<BusinessTrip.Models.User>
@using System.Security.Claims
@using System.Linq;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (((ClaimsIdentity)User.Identity).Claims
                    .Where(c => c.Type == ClaimTypes.Role)
                    .Select(c => c.Value).Where(r => r == "admin").Count() != 0) { Layout = "~/Views/Shared/_AdminLayout.cshtml"; }
    else { Layout = "~/Views/Shared/_Layout.cshtml"; }
}

<section>
    <a class="edit-btn" asp-action="CreateUser">Створити нового користувача</a><br>
    <br>
    <table class="table">
        <tr><th>Email</th><th>Прізвище</th><th>Ім'я</th><th>Побатькові</th><th>Пароль</th><th></th></tr>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.LastName</td>
                <td>@user.FirstName</td>
                <td>@user.FatherName</td>
                <td>@user.Password</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                        <a class="edit-btn" asp-action="Edit" asp-route-id="@user.Id">Редагувати</a>
                        @*<a class="chpass-btn" asp-action="EditRole" asp-route-userid="@user.Id">Роль</a>*@
                        <a class="edit-btn" asp-action="ChangePassword" asp-route-id="@user.Id">Змінити пароль</a>
                        <button type="submit" class="delete-btn">
                            Видвлити
                        </button>
                    </form>
                </td>
            </tr>
        }
    </table>
</section>
